/* @tailwind base;
@tailwind utilities;
@tailwind components; */


*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(resources/Background-Of-A-Library3.jpg) no-repeat center center / cover;
}
.container{
    width: 550px;
    height: 450px;
}

.header{
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    background-color: #262626;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color: #fff;
    padding: 50px 40px;
}

.main-content .text-area{
    font-size: 1.5rem;
    line-height: 1.5;
}

.main-content .person{
    margin-top: 20px;
    text-transform: uppercase;
    color: red;
    font-size: 1.6rem;
}

.button button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 20px;
}

.button button:active{
    background-color: lightblue;
;
}